<!DOCTYPE html>
<html>
    <head>
    {% include "partials/index_head.html" %}
    </head>
    {% include "partials/fixed_menu.html" %}
    <body>
        <div class="container tagline">
            <h3>Find Your Dream Sweater</h3>
        </div>
    {% include "partials/footer.html" %}
    </body>
</html>
