body {
    background-color: #F5F5F5;
    background-image: url("../img/sweater.jpg");
    background-size: cover;
}

#fixed-menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 8em;
    height: 8em;
    padding-top: 10px;
    margin-top: 1em;
    background-color: hsla(4, 82%, 64%, 0.85);
    border-radius: 3em 0em 0em 3em;
    z-index: 5;
}

#fixed-menu a {
    color: black;
    font-size: 1.25em;
}

#fixed-menu ul {
    list-style: none;
    font-weight: bold;
    font-family: sans-serif;
    color: #FFF;
    height: 50%;
    margin-top: 20%;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background-color: #3ec0b4;
    color: #FFF;
}
footer p {
    text-align: center;
    padding-top: 6px;
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    font-size: 11px;
}
